Ogy-Node-RED-example-repo/Simple-html-page/html-page-flow.json
[{"id":"41367c46.f915b4","type":"tab","label":"Flow 1 test","disabled":false,"info":""},{"id":"ad100c43.22c9d","type":"http in","z":"41367c46.f915b4","name":"","url":"/test1","method":"get","upload":false,"swaggerDoc":"","x":280,"y":160,"wires":[["d68137be.d68c28"]]},{"id":"a4c7b989.87f6a8","type":"http response","z":"41367c46.f915b4","name":"","statusCode":"","headers":{},"x":710,"y":340,"wires":[]},{"id":"d68137be.d68c28","type":"template","z":"41367c46.f915b4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<HTML>\n\n<HEAD>\n\n<TITLE>Ogy test page</TITLE>\n\n</HEAD>\n\n<BODY BGCOLOR=\"FFFFFF\">\n\n<CENTER><IMG SRC=\"clouds.jpg\" ALIGN=\"BOTTOM\"> </CENTER>\n\n<HR>\n\n<a href=\"http://ogy-testpage.com\">Link Name</a>\n\nis a link to another nifty site\n\n<H1>Test Header</H1>\n\n<H2>Test Medium Header</H2>\n\nSend me mail at <a href=\"mailto:ogvozdenovic@getswift.co\">\n\nsupport@yourcompany.com</a>.\n\n<P> Test paragraph!\n\n<P> <B>Test new paragraph!</B>\n\n<BR> <B><I>This is a new sentence without a paragraph break, in bold italics.</I></B>\n\n<HR>\n\n</BODY>\n\n</HTML>","output":"str","x":500,"y":260,"wires":[["a4c7b989.87f6a8"]]}]