Ogy-Node-RED-example-repo/Ping-flow/flow_ping_new.json
[{"id":"6bdff08.8cacf1","type":"tab","label":"ping flow","disabled":false,"info":""},{"id":"54c8d600.7e366c","type":"ui_gauge","z":"6bdff08.8cacf1","name":"","group":"4c9d92bb.9c2ecc","order":3,"width":"4","height":"4","gtype":"gage","title":"FWALL 8.8.8.8","label":"ms","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"30","x":300,"y":100,"wires":[]},{"id":"7cdfcfae.920cf","type":"catch","z":"6bdff08.8cacf1","name":"","scope":null,"uncaught":false,"x":2200,"y":3480,"wires":[[]]},{"id":"bff0ef30.0fd1e","type":"ui_gauge","z":"6bdff08.8cacf1","name":"","group":"4c9d92bb.9c2ecc","order":2,"width":"4","height":"4","gtype":"gage","title":"OpenDNS 4.2.2.2","label":"ms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"50","x":310,"y":40,"wires":[]},{"id":"1818c5b7.56f04a","type":"function","z":"6bdff08.8cacf1","name":"","func":"\nvar trueMsg = { payload: true };\nvar falseMsg = { payload: false };\n\n\nif(msg.payload===false)\n{\n    return falseMsg; \n}\nelse{\n        return trueMsg; \n\n}\n\n\n","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["d90adac6.dad9f8"]]},{"id":"c8a29ede.cd2cc","type":"function","z":"6bdff08.8cacf1","name":"","func":"\nvar trueMsg = { payload: true };\nvar falseMsg = { payload: false };\n\n\nif(msg.payload===false)\n{\n    return falseMsg; \n}\nelse{\n        return trueMsg; \n\n}\n\n\n","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["3fed78dd.d57238"]]},{"id":"dab44214.422de","type":"ping","z":"6bdff08.8cacf1","mode":null,"name":"FIREWALL","host":"8.8.8.8","timer":"5","inputs":0,"x":80,"y":120,"wires":[["54c8d600.7e366c","c8a29ede.cd2cc"]]},{"id":"7244f6c1.320168","type":"ping","z":"6bdff08.8cacf1","mode":null,"name":"OpenDNS","host":"4.2.2.2","timer":"5","inputs":0,"x":80,"y":60,"wires":[["bff0ef30.0fd1e","1818c5b7.56f04a","8469e97b.4bb068"]]},{"id":"85f0805a.7ad15","type":"ui_gauge","z":"6bdff08.8cacf1","name":"","group":"3609cdd.ba6b032","order":4,"width":"4","height":"4","gtype":"gage","title":"FWALL google","label":"ms","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"30","x":300,"y":220,"wires":[]},{"id":"97e006c1.103738","type":"ui_gauge","z":"6bdff08.8cacf1","name":"Serbia_IP","group":"3609cdd.ba6b032","order":3,"width":"4","height":"4","gtype":"gage","title":"Serbia_IP","label":"ms","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"90","x":360,"y":160,"wires":[]},{"id":"e2e789e2.0b2518","type":"function","z":"6bdff08.8cacf1","name":"","func":"\nvar trueMsg = { payload: true };\nvar falseMsg = { payload: false };\n\n\nif(msg.payload===false)\n{\n    return falseMsg; \n}\nelse{\n        return trueMsg; \n\n}\n\n\n","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["323e50e4.4db75"]]},{"id":"996aefd9.41499","type":"function","z":"6bdff08.8cacf1","name":"","func":"\nvar trueMsg = { payload: true };\nvar falseMsg = { payload: false };\n\n\nif(msg.payload===false)\n{\n    return falseMsg; \n}\nelse{\n        return trueMsg; \n\n}\n\n\n","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["886d2543.121fe8"]]},{"id":"589fac46.cd4f84","type":"ping","z":"6bdff08.8cacf1","mode":null,"name":"FIREWALL2","host":"www.google.com","timer":"5","inputs":0,"x":90,"y":240,"wires":[["85f0805a.7ad15","996aefd9.41499"]]},{"id":"1b1e27b6.baeb58","type":"ping","z":"6bdff08.8cacf1","mode":null,"name":"Serbia_IP","host":"www.rts.rs","timer":"5","inputs":0,"x":80,"y":180,"wires":[["97e006c1.103738","e2e789e2.0b2518","dbca6bd1.c72088"]]},{"id":"323e50e4.4db75","type":"ui_led","z":"6bdff08.8cacf1","group":"5431c63c.ceeb38","order":3,"width":"4","height":"1","label":"Serbia_IP","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"},{"color":"red","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Serbia_IP","x":460,"y":440,"wires":[],"info":"HELLO"},{"id":"886d2543.121fe8","type":"ui_led","z":"6bdff08.8cacf1","group":"5431c63c.ceeb38","order":4,"width":"4","height":"1","label":"FWALL google","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"},{"color":"red","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"FWALL google","x":480,"y":500,"wires":[],"info":"HELLO"},{"id":"d90adac6.dad9f8","type":"ui_led","z":"6bdff08.8cacf1","group":"5431c63c.ceeb38","order":1,"width":"4","height":"1","label":"OpenDNS 4.2.2.2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"},{"color":"red","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"OpenDNS 4.2.2.2","x":490,"y":320,"wires":[],"info":"HELLO"},{"id":"3fed78dd.d57238","type":"ui_led","z":"6bdff08.8cacf1","group":"5431c63c.ceeb38","order":2,"width":"4","height":"1","label":"FWALL 8.8.8.8","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"},{"color":"red","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"FWALL 8.8.8.8","x":480,"y":380,"wires":[],"info":"HELLO"},{"id":"dbca6bd1.c72088","type":"ui_chart","z":"6bdff08.8cacf1","name":"","group":"3609cdd.ba6b032","order":2,"width":"4","height":"4","label":"ping in ms for IP from Serbia","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":200,"wires":[[]]},{"id":"8469e97b.4bb068","type":"ui_chart","z":"6bdff08.8cacf1","name":"","group":"4c9d92bb.9c2ecc","order":1,"width":"4","height":"4","label":"Ping in ms for OpenDNS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":80,"wires":[[]]},{"id":"4c9d92bb.9c2ecc","type":"ui_group","z":"","name":"Latency Guage 1","tab":"ff1039cf.79b1d8","order":2,"disp":true,"width":"4","collapse":true},{"id":"3609cdd.ba6b032","type":"ui_group","z":"","name":"Latency Gauge 2","tab":"ff1039cf.79b1d8","order":3,"disp":true,"width":"4","collapse":true},{"id":"5431c63c.ceeb38","type":"ui_group","z":"","name":"SERVER RACK","tab":"ff1039cf.79b1d8","order":1,"disp":true,"width":"4","collapse":true},{"id":"ff1039cf.79b1d8","type":"ui_tab","z":"","name":"Ping monitor","icon":"dashboard","order":2,"disabled":false,"hidden":false}]