Ogy-Node-RED-example-repo/Simple-html-calculator/calculator_flow.json
[{"id":"2b302de4.a06212","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c26369e.cff6b98","type":"http in","z":"2b302de4.a06212","name":"","url":"/test2","method":"get","upload":false,"swaggerDoc":"","x":190,"y":220,"wires":[["501a9161.5f686"]]},{"id":"4d2494de.fd222c","type":"http response","z":"2b302de4.a06212","name":"","statusCode":"","headers":{},"x":540,"y":360,"wires":[]},{"id":"501a9161.5f686","type":"template","z":"2b302de4.a06212","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html> \n<head> \n\t<script> \n\t\t//function that display value \n\t\tfunction dis(val) \n\t\t{ \n\t\t\tdocument.getElementById(\"result\").value+=val \n\t\t} \n\t\t\n\t\t//function that evaluates the digit and return result \n\t\tfunction solve() \n\t\t{ \n\t\t\tlet x = document.getElementById(\"result\").value \n\t\t\tlet y = eval(x) \n\t\t\tdocument.getElementById(\"result\").value = y \n\t\t} \n\t\t\n\t\t//function that clear the display \n\t\tfunction clr() \n\t\t{ \n\t\t\tdocument.getElementById(\"result\").value = \"\" \n\t\t} \n\t</script> \n\t<!-- for styling -->\n\t<style> \n\t\t.title{ \n\t\tmargin-bottom: 10px; \n\t\ttext-align:center; \n\t\twidth: 210px; \n\t\tcolor:green; \n\t\tborder: solid black 2px; \n\t\t} \n\n\t\tinput[type=\"button\"] \n\t\t{ \n\t\tbackground-color:green; \n\t\tcolor: black; \n\t\tborder: solid black 2px; \n\t\twidth:100% \n\t\t} \n\n\t\tinput[type=\"text\"] \n\t\t{ \n\t\tbackground-color:white; \n\t\tborder: solid black 2px; \n\t\twidth:100% \n\t\t} \n\t</style> \n</head> \n<!-- create table -->\n<body> \n\t<div class = title >Ogy calculator</div> \n\t<table border=\"1\"> \n\t\t<tr> \n\t\t\t<td colspan=\"3\"><input type=\"text\" id=\"result\"/></td> \n\t\t\t<!-- clr() function will call clr to clear all value -->\n\t\t\t<td><input type=\"button\" value=\"c\" onclick=\"clr()\"/> </td> \n\t\t</tr> \n\t\t<tr> \n\t\t\t<!-- create button and assign value to each button -->\n\t\t\t<!-- dis(\"1\") will call function dis to display value -->\n\t\t\t<td><input type=\"button\" value=\"1\" onclick=\"dis('1')\"/> </td> \n\t\t\t<td><input type=\"button\" value=\"2\" onclick=\"dis('2')\"/> </td> \n\t\t\t<td><input type=\"button\" value=\"3\" onclick=\"dis('3')\"/> </td> \n\t\t\t<td><input type=\"button\" value=\"/\" onclick=\"dis('/')\"/> </td> \n\t\t</tr> \n\t\t<tr> \n\t\t\t<td><input type=\"button\" value=\"4\" onclick=\"dis('4')\"/> </td> \n\t\t\t<td><input type=\"button\" value=\"5\" onclick=\"dis('5')\"/> </td> \n\t\t\t<td><input type=\"button\" value=\"6\" onclick=\"dis('6')\"/> </td> \n\t\t\t<td><input type=\"button\" value=\"-\" onclick=\"dis('-')\"/> </td> \n\t\t</tr> \n\t\t<tr> \n\t\t\t<td><input type=\"button\" value=\"7\" onclick=\"dis('7')\"/> </td> \n\t\t\t<td><input type=\"button\" value=\"8\" onclick=\"dis('8')\"/> </td> \n\t\t\t<td><input type=\"button\" value=\"9\" onclick=\"dis('9')\"/> </td> \n\t\t\t<td><input type=\"button\" value=\"+\" onclick=\"dis('+')\"/> </td> \n\t\t</tr> \n\t\t<tr> \n\t\t\t<td><input type=\"button\" value=\".\" onclick=\"dis('.')\"/> </td> \n\t\t\t<td><input type=\"button\" value=\"0\" onclick=\"dis('0')\"/> </td> \n\t\t\t<!-- solve function call function solve to evaluate value -->\n\t\t\t<td><input type=\"button\" value=\"=\" onclick=\"solve()\"/> </td> \n\t\t\t<td><input type=\"button\" value=\"*\" onclick=\"dis('*')\"/> </td> \n\t\t</tr> \n\t</table> \n</body> \n</html> \n","output":"str","x":340,"y":320,"wires":[["4d2494de.fd222c"]]}]