Ogy-Node-RED-example-repo/RSS-flow/RSS-flow.json
[{"id":"fac30840.191d78","type":"tab","label":"RSS","disabled":false,"info":""},{"id":"8bbb4d2b.87c69","type":"feedparse","z":"fac30840.191d78","name":"BBC","url":"http://feeds.bbci.co.uk/news/world/rss.xml","interval":"5","x":210,"y":120,"wires":[["a2632b9a.b153e8","a8635103.cde39"]]},{"id":"a2632b9a.b153e8","type":"debug","z":"fac30840.191d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":80,"wires":[]},{"id":"a8635103.cde39","type":"switch","z":"fac30840.191d78","name":"","property":"article.description","propertyType":"msg","rules":[{"t":"regex","v":"corona","vt":"str","case":true},{"t":"regex","v":"virus","vt":"str","case":true},{"t":"regex","v":"covid","vt":"str","case":true},{"t":"regex","v":"epidemic","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":480,"y":180,"wires":[["edfa884c.db4258"],["edfa884c.db4258"],["edfa884c.db4258"],["edfa884c.db4258"],[]]},{"id":"9a153238.c009f","type":"e-mail","z":"fac30840.191d78","server":"","port":"","secure":true,"tls":false,"name":"","dname":"email","x":850,"y":380,"wires":[]},{"id":"edfa884c.db4258","type":"change","z":"fac30840.191d78","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article.topic","tot":"str"},{"t":"set","p":"from","pt":"msg","to":"\"RSS Alert\" <ogvozdenovic@getswif.co>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":180,"wires":[["2452b20b.1f974e"]]},{"id":"a5f11d96.14c44","type":"feedparse","z":"fac30840.191d78","name":"CNN","url":"http://rss.cnn.com/rss/edition_world.rss","interval":15,"x":210,"y":220,"wires":[["a8635103.cde39"]]},{"id":"2452b20b.1f974e","type":"template","z":"fac30840.191d78","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{article.description}}}\n\nRead more: {{{article.link}}}","output":"str","x":820,"y":280,"wires":[["9a153238.c009f"]]}]